.container {
  margin: 60px 46px 0 375px;
  .title {
    color: #11181c;
    font-size: 36px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 10px;
  }
  .content {
    width: 100%;
    background-color: #fbfcfd;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    span {
      font-size: 24px;
      color: #11181c;
      text-align: start;
    }
    hr {
      width: 100%;
      color: #939393;
      margin: 10px 0;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 15px;
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;

        label {
          text-align: start;
          color: #11181c;
          font-size: 16px;
          font-weight: 400;
        }
        div {
          width: 270px;
          height: 46px;

          background: #eaeaea;
          border-radius: 6px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0;

          input {
            padding: 8px 12px;
            background: #eaeaea;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            width: 90%;
            height: 100%;
            border: none;
            outline: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #11181c;
          }
          input::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #006adc;
          }
          p {
            width: 10%;
            font-size: 20px;
            color: #11181c;
            margin: 0;
          }
        }
        li {
          text-align: start;
          font-size: 12px;
          color: red;
          list-style: none;
        }
      }
      .btn {
        width: 270px;
        height: 46px;
        border: none;
        border-radius: 6px;
        color: white;
        background-color: #0091ff;
        margin-top: 25px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #687076;
    padding: 200px 0 40px 0;
    display: flex;
    justify-content: center;
  }
}
