.container {
  display: flex;
  align-items: centers;
  & > div {
    display: flex;
    align-items: center;
    padding: 30px 0 10px 0;
    & > div {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
      }
      a.link {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #687076;
      }
      .icon {
        color: #687076;
        font-size: 12px;
        margin: 0 10px;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      margin: 0;
      color: #11181c;
    }
  }
}
