.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  p {
    color: var(--color-black);
    // font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 119.7%;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 32px;

    width: 348px;
    // height: 450px;
    background: #fbfcfd;
    box-shadow: 0px 10px 25px rgba(215, 219, 223, 0.5);
    border-radius: 12px;

    label {
      color: var(--color-black);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      margin-bottom: 4px;
      margin-top: 10px;
    }
    input,
    select {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 12px;
      gap: 10px;

      width: 300px;
      height: 46px;

      background: #f1f3f5;
      border: none;
      border-radius: 6px;

      font-size: 16px;
      color: #687076;

      option {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 4px;

        position: absolute;
        width: 300px;
        height: 104px;
        left: 24px;
        top: 269px;

        background: #ffffff;
        border: 1px solid #dfe3e6;
        box-shadow: 0px 5px 15px #eceef0;
        border-radius: 8px;
      }
    }
    .showPassword {
      margin-left: -2.5rem;
      font-size: 23px;
      line-height: 46px;
      color: rgb(92, 92, 92);
      cursor: pointer;
    }
    li {
      list-style: none;
      color: var(--color-red);
      font-size: 16px;
    }

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      gap: 10px;

      width: 300px;
      height: 48px;

      background: var(--color-blue);
      border: none;
      border-radius: 6px;

      font-weight: 400;
      font-size: 16px;
      line-height: 150%;

      letter-spacing: -0.01em;

      color: #fbfdff;

      margin-top: 16px;

      transition: all 0.3s;

      &:hover {
        background-color: var(--color-hover-btn);
        transition: all 0.3s;
      }
    }
    .forgotPassword {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;

      text-align: center;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 16.5px;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
