.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  p {
    color: var(--color-black);
    // font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 119.7%;
  }
  .user {
    position: absolute;
    width: 250px;
    height: 100px;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    top: 10px;
    right: 10px;
    span {
      color: #000000;
      margin-left: 10px;
      font-size: 17px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 32px;
    width: 348px;
    background: #fbfcfd;
    box-shadow: 0px 10px 25px rgba(215, 219, 223, 0.5);
    border-radius: 12px;

    label {
      color: var(--color-black);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      margin-bottom: 4px;
      margin-top: 10px;
    }
    input {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 12px;
      gap: 10px;

      width: 300px;
      height: 46px;

      background: #f1f3f5;
      border: none;
      border-radius: 6px;

      font-size: 16px;
      color: #687076;

      outline: none;
    }

    .formControl {
      .select {
        text-align: start;
        width: 300px;
        height: 46px;
        background: #f1f3f5;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        color: #687076;
        outline: none;
        //
      }
      fieldset {
        border-style: none;
      }
    }

    .showPassword {
      margin: 0;
      margin-left: -1.5rem;
      font-size: 20px;
      line-height: 46px;
      color: rgb(92, 92, 92);
      cursor: pointer;
    }
    li {
      list-style: none;
      color: var(--color-red);
      font-size: 16px;
    }

    .button {
      padding: 12px 24px;
      width: 300px;
      height: 48px;
      background: var(--color-blue);
      border: none;
      border-radius: 6px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #fbfdff;
      margin-top: 16px;
      transition: all 0.3s;

      &:hover {
        background-color: rgb(0, 129, 194);
        transition: all 0.3s;
      }
    }
    .removeBtn {
      padding: 12px 24px;
      width: 300px;
      height: 48px;
      background: rgb(210, 210, 210);
      border: none;
      border-radius: 6px;

      margin-top: 16px;
      .loading {
        span {
          font-weight: 400;
          font-size: 16px;
          color: #00a6ff;
          margin-right: 5px;
        }
        .line {
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #00a6ff;
          margin-right: 5px;
          &:nth-last-child(1) {
            animation: loading 0.6s 0.1s linear infinite;
          }
          &:nth-last-child(2) {
            animation: loading 0.6s 0.2s linear infinite;
          }
          &:nth-last-child(3) {
            animation: loading 0.6s 0.3s linear infinite;
          }

          @keyframes loading {
            0% {
              transform: translate(0, 0);
            }
            50% {
              transform: translate(0, -5px);
            }
            100% {
              transform: translate(0, 0);
            }
          }
        }
      }
    }

    .forgotPassword {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;

      text-align: center;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 16.5px;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
