.container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      color: #11181c;
    }
    .required {
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #687076;
        display: flex;
        align-items: center;
        .star {
          color: red;
        }
      }
    }
  }
  hr {
    width: 100%;
    color: #939393;
    margin: 10px 0;
  }
  .form {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 0 30px;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > div {
        display: flex;
        flex-direction: column;
        & > div {
          display: flex;
          gap: 16px;
          align-items: center;
          justify-content: space-between;
          label {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

            letter-spacing: -0.01em;

            color: #11181c;

            text-align: start;
            span {
              color: red;
            }
          }
          .input {
            align-items: center;
            padding: 8px 12px;
            gap: 10px;

            width: 270px;
            height: 46px;

            background: #d5d5d5;
            border-radius: 6px;
            border: none;
            outline: none;

            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

            letter-spacing: -0.01em;

            color: #11181c;
          }
          .input::placeholder {
            font-weight: 400;
            font-size: 16px;
          }

          .select {
            text-align: start;

            width: 270px;
            height: 46px;

            background: #eaeaea;
            border-radius: 6px;
            border: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

            letter-spacing: -0.01em;

            color: #11181c;
            outline: none;
          }
          fieldset {
            border-style: none;
          }
        }
      }
      li {
        text-align: end;
        font-size: 12px;
        color: red;
        list-style: none;
      }
    }

    .containerColumn2 {
      display: flex;
      flex-direction: row;
      gap: 16px;
      margin-top: 10px;
      & > div {
        gap: 10px;
        & > div {
          height: 46px;
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .container {
    .form {
      & > div {
        & > div {
          & > div {
            .input {
              width: 220px;
            }
            .select {
              width: 220px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .container {
    .form {
      flex-direction: column;
      & > div {
        & > div {
          & > div {
            .input {
              width: 300px;
            }
            .select {
              width: 300px;
            }
          }
        }
      }
      .containerColumn2 {
        justify-content: space-between;
      }
    }
  }
}
@media (max-width: 1000px) {
  .container {
    .form {
      flex-direction: column;
      & > div {
        & > div {
          & > div {
            .input {
              width: 270px;
            }
            .select {
              width: 270px;
            }
          }
        }
      }
      .containerColumn2 {
        justify-content: space-between;
      }
    }
  }
}
