.container {
  width: 100%;
  .containerTable {
    overflow: auto;
    height: 652px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 2px;
    .containerHeader {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: var(--color-black);
      gap: 2px;
      position: sticky;
      top: 0;
      z-index: 1;

      .checkboxHeader {
        padding: 6px 10px;
        height: 31px;
        min-width: 36px;
        width: 36px;
        background: #eceef0;
        display: flex;
        justify-content: center;
        align-items: center;
        .checkbox {
          accent-color: #30a46c;
        }
      }
      .item {
        white-space: nowrap;
        padding: 6px 10px;
        height: 31px;
        background: #eceef0;
        &:nth-child(2) {
          width: 100px;
          min-width: 100px;
        }
        &:nth-child(3) {
          width: 69px;
          min-width: 69px;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(8) {
          width: 129px;
          min-width: 129px;
        }
        &:nth-child(6) {
          width: 127px;
          min-width: 127px;
        }
        &:nth-child(7) {
          width: 122px;
          min-width: 122px;
        }
        &:nth-child(9) {
          width: 109px;
          min-width: 109px;
        }
        &:nth-child(10) {
          width: 214px;
          min-width: 214px;
        }
        &:nth-child(11) {
          width: 250px;
          min-width: 250px;
        }

        &:nth-child(19),
        &:nth-child(22) {
          width: 131px;
          min-width: 131px;
        }
        &:nth-child(12),
        &:nth-child(18),
        &:nth-child(20) {
          width: 150px;
          min-width: 150px;
        }
        &:nth-child(13) {
          width: 86px;
          min-width: 86px;
        }
        &:nth-child(14),
        &:nth-child(15),
        &:nth-child(16) {
          width: 84px;
          min-width: 84px;
        }
        &:nth-child(17) {
          width: 103px;
          min-width: 103px;
        }
        &:nth-child(21) {
          width: 74px;
          min-width: 74px;
        }
        &:nth-child(23) {
          width: 120px;
          min-width: 120px;
        }
      }
    }
    .containerContent {
      display: flex;
      align-items: center;
      gap: 2px;
      color: var(--color-black);
      .checkboxContent {
        padding: 6px 10px;
        height: 31px;
        width: 36px;
        min-width: 36px;
        background: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .nik {
        padding: 6px 10px;
        height: 31px;
        background: #f3f3f3;
        line-height: 16px;
        color: #687076;
        font-size: 14px;
        width: 100px;
        min-width: 100px;
      }
      .content {
        font-weight: 500;
        font-size: 12px;
        color: #687076;
        background: #f3f3f3;
        padding: 6px 10px;
        height: 31px;
        white-space: nowrap;

        &:nth-child(3) {
          width: 69px;
          min-width: 69px;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(8) {
          width: 129px;
          min-width: 129px;
        }
        &:nth-child(6) {
          width: 127px;
          min-width: 127px;
        }
        &:nth-child(7) {
          width: 122px;
          min-width: 122px;
        }
        &:nth-child(9) {
          width: 109px;
          min-width: 109px;
        }
        &:nth-child(10) {
          width: 214px;
          min-width: 214px;
        }
        &:nth-child(11),
        &:nth-child(12) {
          width: 124px;
          min-width: 124px;
        }
        &:nth-child(20),
        &:nth-child(23) {
          width: 131px;
          min-width: 131px;
        }
        &:nth-child(13),
        &:nth-child(19),
        &:nth-child(21) {
          width: 150px;
          min-width: 150px;
        }
        &:nth-child(14) {
          width: 86px;
          min-width: 86px;
        }
        &:nth-child(15),
        &:nth-child(16),
        &:nth-child(17) {
          width: 84px;
          min-width: 84px;
        }
        &:nth-child(18) {
          width: 103px;
          min-width: 103px;
        }
        &:nth-child(22) {
          width: 74px;
          min-width: 74px;
        }
        &:nth-child(24) {
          width: 120px;
          min-width: 120px;
        }
      }
    }
  }
  .paginate {
    display: flex;
    align-items: center;
    padding-top: 24px;
    gap: 20px;
    & > div {
      // color: red;
      .pagination {
        color: rgb(46, 46, 46);
        button {
          font-size: 15px;
          svg {
            font-size: 22px;
          }
        }
      }
    }
    .allPage {
      padding: 3px 12px;
      background: #e5e5e5;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      line-height: 35px;
      text-align: center;
      color: #50575b;
      cursor: auto;
      margin-left: 10px;
    }
  }
}
