.container {
  .add {
    padding: 12px 20px;
    background: #e1e2e2;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #bbbbbb;
  }
  .saveChange {
    padding: 12px 20px;
    background: #1a9cff;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #ffffff;
  }
}
