.container {
  button {
    text-transform: lowercase;
    text-transform: capitalize;
  }
  .stylesRemoveadd {
    cursor: context-menu;
    padding: 12px 20px;
    background: #e1e2e2;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #bbbbbb;
    &:hover {
      background: #e1e2e2;
      color: #bbbbbb;
    }
  }
  .stylesAdd {
    padding: 12px 20px;
    background: #1a9cff;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #ffffff;
    &:hover {
      color: #ffffff;
      background: #0085ea;
    }
  }
}
